<!-- Include Header -->
<%- include assets/front-end/layout/header.ejs %>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Wrapper Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <span class="icon_close"></span>
    </div>
    <div class="logo">
        <a href="./index.html">
            <img src="assets/front-end/assets/img/sd-logo.png" alt="">
        </a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="om-social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
    </div>
</div>
<!-- Offcanvas Menu Wrapper End -->

<!-- Header Section Begin -->
<header class="header-section">
    <div class="hs-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo">
                        <a href="/"><img src="assets/front-end/assets/img/sd-logo.png" alt="" style="height: 80px;"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="ht-widget" style="padding: 35px 0">
                        <ul>
                            <li><i class="icon_mail_alt"></i> support@tiarabunda.com</li>
                            <li><i class="fa fa-mobile-phone"></i>(022) 7510654</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <span class="icon_menu"></span>
            </div>
        </div>
    </div>
    <div class="hs-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active"><a href="/blog">Berita</a></li>
                            <li><a href="/kotakSaran">Kotak Saran</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="hn-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section spad set-bg" data-setbg="assets/front-end/assets/img/breadcrumb-bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h4>Blog</h4>
                    <div class="bt-option">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-item-list">
                    <% if(listBerita) { %>
                    <% listBerita.forEach((data) => { %>
                    <div class="blog-item">
                        <div class="bi-pic">
                            <img src="./uploads/berita/<%= data.gambarBerita %>" alt="">
                        </div>
                        <div class="bi-text">
                            <h5><%= data.judulBerita %></h5>
                            <ul>
                                <li>by <span><%= data.penulis %></span></li>
                                <li><%= data.tanggalUpdate %></li>
                            </ul>
                            <a href="/blog-detail/<%= data.id %>" class="read-more">Read more <span
                                    class="arrow_right"></span></a>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->

<!-- Contact Section Begin -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info">
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Alamat</h5>
                            <p>Jl. Batununggal Indah I No.74-76, Mengger, Kec. Bandung Kidul, Kota Bandung, Jawa Barat
                                40266</p>
                        </div>
                    </div>
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Nomor Telefon</h5>
                            <ul>
                                <li>(022) 7510654</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ci-item">
                        <div class="ci-icon">
                            <i class="fa fa-headphones"></i>
                        </div>
                        <div class="ci-text">
                            <h5>Email</h5>
                            <p>support@tiarabunda.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cs-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.433772295951!2d107.62409431477302!3d-6.958048994973065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf6aca389bf64c345!2sSD%20Tiara%20Bunda!5e0!3m2!1sid!2sid!4v1587482935739!5m2!1sid!2sid"
            height="450" style="border:0;" allowfullscreen=""></iframe>
    </div>
</section>
<!-- Contact Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="fs-about">
                    <div class="fs-logo">
                        <a href="#">
                            <img src="assets/front-end/assets/img/sd-logo.png" alt="" style="height: 80px;">
                        </a>
                    </div>
                    <p><b>Tiara Bunda</b> merupakan suatu lembaga pendidikan yang berdiri sejak tahun 2003. Terdiri dari
                        kelompok
                        bermain, taman kanak-kanak dan sekolah dasar.</p>
                    <div class="fs-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="fs-widget">
                    <h5>Links</h5>
                    <ul>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Registrasi</a></li>
                        <li><a href="#">Berita</a></li>
                        <li><a href="#">Kotak Saran</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <p style="color: #fff;">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="fa fa-heart"
                    aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Include Footer -->
<%- include assets/front-end/layout/footer.ejs %>